@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Fira+Sans&family=Koulen&family=Merriweather:ital@1&family=Montserrat:ital,wght@0,400;1,200;1,400&family=Radio+Canada:ital@1&family=Raleway:wght@300&family=Roboto:wght@300;400&family=Ubuntu:wght@300&display=swap');
/*BARRA DE NAVEGACION*/

.nav-link {
    color: black;
    font-family: 'Raleway', sans-serif;
}

.dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    margin-left: 100px;
    font-size: 1000px;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.menuNavegacion {
    margin-right: 95px;
}

.botones__barraNavegacion {
    text-decoration: none;
    color: black;
}

.botones__barraNavegacion:hover {
    color: black;
}

.menuNavegacion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.registros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.btnIngresar {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 0;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.btnIngresar:hover {
    color: rgb(175, 158, 101);
}
/*
.card {
    color: rgb(0, 0, 0);
    width: 200px;
    height: 400px;
    margin: 1rem auto;
    font-size: 1rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 2px;

}*/

.nombreApellido:hover {
    color: rgb(175, 158, 101);
}

body {
    color:black;
    background-color: white;
}
.darkMode {
    color:rgb(255, 255, 255);
    background-color: black;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    color: black;
}

.btn-outline-secondary{
    margin-left: 10px;
}



/*INDEX E-COMMERCE*/
  .carritoProductos {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
  }
  /*
  .card {
    width: 100%;
    margin: 0.5%;
    border: solid 0.7px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.2%;
  }
  /*
  .card__img {
    width: 100%;
  }
  
  .card__title {
    color: grey;
    font-size:  20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .card__price {
    font-size: 20px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .card__info {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .card__button {
    font-size: 20px;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.356);
    cursor: pointer;
  }
  .card__button:hover {
    background-color: rgb(49, 38, 38);
    color: white;
  }
  */
  
  .finish_button:hover {
    background-color:#488888be ;
    color: rgb(0, 0, 0);
  }
  .carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px;
  }
  .finish_button {
    width: 50%;
    font-size: 2em;
    margin-top: 2%;
    padding: 0.7%;
    background-color: rgba(255, 255, 255, 0.356);
    cursor: pointer;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
  }
  
  ul {
    margin: 2%;
    list-style-type:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    text-align: center;
  }
  
  .carrito__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .quitar_producto {
    color: rgb(150, 61, 61)
  }
  
  .ofertaColor{
    color: rgb(0, 69, 160);
  }

  .precioComun{
    color: black;
  }
  
  .box__productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
  }

.card{
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(107, 104, 104, 0.507);
  width: 100%;
}

.card-title:hover{
  color:#488888b2 
}

.card-text{
  font: "Ubuntu", sans-serif;
}